<h1>All Polls</h1>
<%= link_to 'New Poll', new_poll_path, class: 'button' %>

<ul>
  <% @polls.each do |poll| %>
    <li>
      <%= link_to poll.title, poll_path(poll) %>
      <small>by <%= poll.user.email %></small>
    </li>
  <% end %>
</ul>